<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Web App</title>
  </head>
  <body>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guesss!">
    </form>
    <p> <%= message %> </p>
  </body>
</html>
